
* {
    box-sizing: border-box;
}

.itemCountContainer {
    width: 100%;
    padding: 5px;
    background-color: rgb(238, 235, 235);
    border-radius: 5px;
}
.itemCountContainer .p {
    color: grey;
}
.btn {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1.5px solid rgb(72, 72, 204);
    color: rgb(72, 72, 204);
    text-align: center;
}

.itemCount {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid grey;
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: center;*/
}

.itemCount .restarItem, .itemCount .sumarItem {
    color: rgb(72, 72, 204);
    padding: 0px 5px 0px 5px;
}
.btn:hover, .itemCount .restarItem:hover, .itemCount .sumarItem:hover {
    cursor: pointer;
}

.amount {
    flex-grow: 2;
    text-align: center;
}


